/* CSS variables for main background, main text, highlight colors, and main font */
:root {
  --main-background: #fffff4;
  --main-text: #000000; /* black */
  --highlight-blue: #015a6c;
  --highlight-red: #d66d50;
  --main-font: "Nunito", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-background: #000000;
    --main-text: #ffffff;
    --highlight-blue: #4fc3f7;
    --highlight-red: #ef9a9a;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: var(--main-background);
  color: var(--main-text);
  font-family: var(--main-font);
}
